

body{
  background-color:bisque ;
}
#sen{
  margin-left: 780px;
  width:330px;
  height:330px;
  border:2px solid;
  border-radius: 7px;
}
#ben{
  text-align: center;
  font-size:65px;
  text-shadow: 5px 5px 8px;
  font-style:italic;
  color:rgb(65, 63, 63);
}
.p{
  position:relative;
  border:2px solid;
  width:750px;
  height:950px;
  background-color:gray;
  margin-left:550px;
  padding-left:15px;
  font-size: 20px;
  border-radius:5px;
  margin-top:25px;
  box-shadow: 5px 5px 8px;

}
#t{
  margin-left:830px;
  margin-top: 15px;
  font-size:35px;
  cursor:grab;
  border-radius: 8px;
  background-color: rgb(245, 187, 28);
}
#t:hover{
  background-color: blanchedalmond;
  
}
 #t:active{
  color:red;
 }
 a {
  text-decoration: none;


 }
 #m{
  font: weight 900px;;
 }
 .k{
  font-style:italic;
 }
 #q{
  
  border:3px solid;
  height:50px;
  position:absolute;
  text-align: center;
  bottom:0px;
  width: 760px;
  left:0px;
  border-radius: 0px 0px 5px 4px;
  padding-top:20px;
  background-color: antiquewhite;
  font-size:30px;
  font-style:italic;

  
  
  
 }